#next{
    float: right;
    margin-right: 10%;
}

#back{
    float: left;
    margin-left: 10%;
}

[name=mood] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
[name=mood] + svg {
  cursor: pointer;
}

svg{
    position: relative;
    top: 0;
    left: 0;
    height: 40px;
    width: 40px;
    padding: 10px 10px;
}

[type=text]{
    border-radius: 12px;
    height: 30px;
    width: 80%;
    font-size: 17px;
    outline: none;
    margin-right: 0;
    margin-bottom: 10px;
}


[type=text]:focus, .add-new:hover{
    background-color: aliceblue;
    border: 2px solid black;
}

.add-new{
    border-radius: 12px;
    height: 35px;
    width: 81%;
    font-size: 17px;
    outline: none;
    margin-right: 0;
    margin-bottom: 10px;
}

.add-new *{
    width: 17px;
    height: 17px;
    vertical-align: middle;
    padding-right: 10%;
    padding-top: 5px;
}