[name=mood] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
[name=mood] + svg {
  cursor: pointer;
}

svg{
    position: relative;
    top: 0;
    left: 0;
    height: 40px;
    width: 40px;
    padding: 10px 10px;
}

[type=text] {
    border-radius: 12px;
    height: 30px;
    width: 80%;
    font-size: 17px;
    outline: none;
}


[type=text]:focus{
    background-color: aliceblue;
    border: 2px solid black;
}

span{
    display: inline-block;
    background-color: white;
    font-size: 17px;
    width: 80%;
    margin-left: 62px;
    margin-right: 60px;
    height: 30px;
    outline: none;
    margin-bottom: 30px;

    border-radius: 12px;
}

span svg{
    width: 17px;
    height: 17px;
    padding-top: 7.5px;
    margin-top: 0;
}