.bg-vid {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: -10px;
    left: -10px;
    overflow: hidden;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
    font-family: "Kristen ITC", serif;
    letter-spacing: 4px;
}

.skip {
    position: absolute;
    top: 2%;
    left: 2%;
    color: white;
    font-family: "Kristen ITC", serif;
    font-size: small;
}

.warning {
    position: absolute;
    bottom: 2%;
    right: 2%;
    color: black;
    background-color: white;
    font-family: "Kristen ITC", serif;
    font-size: medium;
    border-radius: 10px;
    padding: 10px 10px;
}

.close-btn{
    margin-left: 10px;
    background: none;
    border: none;
}

p{
    font-size: 125%;
}

.btn-acc {
    position: relative;
    padding: 10px;
    color: black;
    background-color: antiquewhite;
    width: 20%;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 30%;
    font-family: "Lucida Console", serif;
    font-size: medium;
    box-shadow: 0 4px #999;
}

.btn-acc:hover {
    background-color: bisque;
}

.btn-acc:active {
    background-color: bisque;
    box-shadow: 0 1px #999;
    transform: translateY(4px);
}

