<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../static/js/script.js"></script>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
<video loop muted autoplay src="../static/assets/bg.mp4" class="bg-vid">
</video>

<div class="container cont-1">
    <h1>Welcome to ...., your own personal journaling log</h1>
    <p>Do you have an account?</p>
    <form method="get">
        <button class="btn-acc" id="user">User</button>
        <button class="btn-acc" id="guest">Guest</button>
    </form>
</div>

<div class="container cont-2">
    <h1>this is a guest</h1>
    <p>Do you have an account?</p>
</div>

</body>
</html>